{% extends 'Global/main.html'%}
{% load static %}

{% block header %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container grid px-6 mx-auto">
    <div class="section-content my-6 text-sm font-semibold text-gray-600 dark:text-gray-300">
        <ul>
            <li><a href="/">Inicio</a> / <a href="{% url 'anteproyectosTeacher' %}"> Anteproyectos activos</a> / <a
                    href="{% url 'anteproyectoA' anteproyecto.id %}"> Ver anteproyecto</a> / <a class="text-blue-500"
                    href="{% url 'agregarComentario' anteproyecto.id %}"> Agregar comentario</a> </li>
        </ul>
    </div>
    <div class="grid gap-6 my-8 md:grid-cols-2 xl:grid-cols-2">
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Anteproyecto: "{{anteproyecto.a_nombre}}"
            </h2>
        </div>
        <div class="flex justify-end items-center p-4">
            <button onClick="history.back()"
                class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                Volver
            </button>
        </div>
    </div>

    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Agregar comentario
    </h2>

    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800 grid gap-6 mb-8 md:grid-cols-1">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <span class="text-gray-700 dark:text-gray-400">Descripcion de la observacion:</span>
                <br>
                {{form.observacionD}}
                <br>
                <div class="relative">
                    <input type="submit"
                        class="px-2 py-1 text-sm absolute right-0 font-medium leading-3 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        name="Update Information" value="Enviar Comentario">
                </div>
            </form>
        </div>
    </form>

</div>

{% endblock %}