{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

<div class="container grid px-6 mx-auto">

    <div class="relative my-6 h-12">

        <div class="absolute inset-y-0 left-0 ">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Seleccion de materias
            </h2>
        </div>
        {% if group == 'student'%}
        <div class="absolute inset-y-0 right-0">
            {% if materias %}
            <a href="{% url 'anteproyecto' %}">
            {% else %}
            
            {% endif %}
                <button
                    class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                    Guardar
                </button>
            </a>
        </div>
        {% endif %}
    </div>

    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <table class="w-full border-collapse border border-slate-500">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3 text-center">Semestre 1</th>
                        <th class="px-4 py-3 text-center">Semestre 2</th>
                        <th class="px-4 py-3 text-center">Semestre 3</th>
                        <th class="px-4 py-3 text-center">Semestre 4</th>
                        <th class="px-4 py-3 text-center">Semestre 5</th>
                        <th class="px-4 py-3 text-center">Semestre 6</th>
                        <th class="px-4 py-3 text-center">Semestre 7</th>
                        <th class="px-4 py-3 text-center">Semestre 8</th>
                        <th class="px-4 py-3 text-center">Semestre 9</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {% for semestre in all_semestres %}
                    <tr class="text-gray-700 dark:text-gray-400 celdafija">
                        {% for materia in semestre %}
                        {% if materia in materias %}
                        <span hidden="hidden" class="elementValue2">{{materia.nombre}}</span>
                        <td class="px-4 py-3 text-white border border-slate-600 btnDelete"
                            style="background-color:#b067e0;">
                            {% if group == 'student' %}
                            <a href="#">
                                {% else %}
                                <a href="{% url 'removeMateria' materia %}">
                                    {% endif %}
                                    <p class="text-xs text-center font-semibold">{{materia.clave}}</p>
                                    <p class="text-xs text-center font-semibold">{{materia.nombre}}</p>
                                </a>
                        </td>
                        {% else %}
                        {% if materia %}
                        <span hidden="hidden" class="elementValue">{{materia.nombre}}</span>
                        <td class="px-4 py-3 border border-slate-600 btnAdd">
                            {% if group == 'student' %}
                            <a href="{% url 'compatibilidadA' materia %}">
                                {% else %}
                                <a href="{% url 'seleccionarMateria' materia %}">
                                    {% endif %}
                                    <p class="text-xs text-center font-semibold">{{materia.clave}}</p>
                                    <p class="text-xs text-center font-semibold">{{materia.nombre}}</p>
                                </a>
                        </td>
                        {% else %}
                        <td class="px-4 py-3 border border-slate-600">
                            <p class="text-xs text-center font-semibold">{{materia.clave}}</p>
                            <p class="text-xs text-center font-semibold">{{materia.nombre}}</p>
                        </td>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% if group == 'teacher' %}
<script src="{% static 'js/messages/docentes.js' %}"></script>
<script src="{% static 'js/deleteManagement/materias.js' %}"></script>
{% else %}
<script src="{% static 'js/messages/estudiantes.js' %}"></script>
{% endif %}
{% endblock %}