{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Anteproyecto: "{{anteproyecto.a_nombre}}"
        </h2>
        <div class="relative mb-4">
            <a class="px-4 py-2 text-sm absolute right-0 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                href="{% url 'verAnteproyecto' anteproyecto.id %}">Cancelar</a>
        </div>
        {% if asesor %}
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            Asignar Asesor Interno
        </h4>
        {% else %}
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            Asignar Revisor
        </h4>
        {% endif %}
        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-center text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Docente</th>
                            <th class="px-4 py-3">Numero Celular</th>
                            <th class="px-4 py-3">Correo Electronico</th>
                            <th class="px-4 py-3">Estatus</th>
                            <th class="px-4 py-3">Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        {% for docente in docentes %}
                        {% if docente.estatus == 'ACTIVO' %}
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <!-- Avatar with inset shadow -->
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img class="object-cover w-full h-full rounded-full"
                                            src="{{docente.fotoUsuario.url}}" alt="" loading="lazy">
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-semibold">{{docente}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center px-4 py-3">
                                {{docente.numCelular}}
                            </td>
                            <td class="text-center px-4 py-3">
                                {{docente.correoElectronico}}
                            </td>
                            <td class="text-center px-4 py-3 text-xs">
                                <span
                                    class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                    {{docente.estatus}}
                                </span>
                            </td>
                            <td class="px-4 py-3">
                                <div class="flex items-center justify-center">
                                    {% if asesor %}
                                    <a href="{% url 'asignarAsesorI' pkA=anteproyecto.id pkD=docente.id %}">
                                    {% else %}
                                    <a href="{% url 'asignarRevisorI' pkA=anteproyecto.id pkD=docente.id %}">
                                    {% endif %}
                                        <button
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                            aria-label="Like">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}