{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

<div class="container grid px-6 mx-auto">
    <div class="relative my-6 h-12">

        <div class="absolute inset-y-0 left-0 ">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Avisos
            </h2>
            </select>
        </div>

        <div class="absolute inset-y-0 right-0 ">
            <a href="{% url 'crear_aviso' %}">
                <button
                    class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                    Crear aviso
                </button>
            </a>
        </div>
    </div>

    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="mb-8 w-full overflow-x-auto">
            {% if avisos %}
            <table class="w-full">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3 text-center">Fecha de Creacion</th>
                        <th class="px-4 py-3 text-center">Entidad</th>
                        <th class="px-4 py-3 text-center">Tiempo Disponible</th>
                        <th class="px-4 py-3 text-center">Aviso</th>
                        <th class="px-4 py-3 text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {% for aviso in avisos %}
                    <tr class="text-gray-700 dark:text-gray-400">
                        <td class="mx-auto px-4 py-3 text-md">{{aviso.fechaCreacion|date:"d/M/Y"}}</td>
                        {% if aviso.entidad == 'PRIVADO' %}

                        {% if aviso.estudiante %}
                        <td class="mx-auto px-4 py-3 text-md">
                            {{aviso.entidad}}
                            <br>
                            ESTUDIANTE
                            <br>
                            {{aviso.estudiante.numControl}}                            
                        </td>
                        {% else %}
                        <td class="mx-auto px-4 py-3 text-md">
                            {{aviso.entidad}}
                            <br>
                            DOCENTE
                            <br>
                            {{aviso.docente}}
                        </td>
                        {% endif %}

                        {% else %}
                        <td class="mx-auto px-4 py-3 text-md">{{aviso.entidad}}</td>
                        {% endif %}
                        <td class="mx-auto px-4 py-3 text-md text-center">{{aviso.tiempoVida}}</td>
                        <td class="mx-auto px-4 py-3 text-md">
                            {% autoescape off %}
                            {{aviso.descripcion}}
                            {% endautoescape %}
                        </td>
                        <td class="px-4 py-3 text-md btnDelete">
                            <div class="flex items-center justify-center">
                                <a href="{% url 'eliminar_aviso' aviso.id %}"
                                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-orange-100 border border-transparent rounded-lg active:bg-orange-500 hover:bg-orange-500 focus:outline-none focus:shadow-outline-orange dark:text-orange-100 dark:bg-orange-500"
                                    aria-label="Like">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <p
                    class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-500 border border-transparent rounded-lg">
                    No hay avisos por el momento
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                    </svg>
                </p>
            </div>
            {% endif %}

        </div>
    </div>
    
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/deleteManagement/avisos.js' %}"></script>
{% endblock %}