{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

<div class="container grid px-6 mx-auto">
    <div class="grid gap-6 mb-2 my-6 md:grid-cols-2">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Docentes
        </h2>
        <div class="relative">
            <a class="px-4 py-2 text-sm absolute right-0 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                href="{% url 'altaDocente' %}">Alta docente</a>
        </div>
    </div>

    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Ordenar por
    </h4>
    <div class="mb-8">
        <select id="s1" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm text-center rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% if orderB == 1 %}
            <option selected>Nombre A - Z</option>
            {% elif orderB == 2 %}
            <option selected>Nombre Z - A</option>
            {% elif orderB == 3 %}
            <option selected>Apellido Paterno A - Z</option>
            {% elif orderB == 4 %}
            <option selected>Apellido Paterno Z - A</option>
            {% elif orderB == 5 %}
            <option selected>RFC A - Z</option>
            {% elif orderB == 6 %}
            <option selected>RFC Z - A</option>
            {% else %}
            <option selected>Seleccionar</option>
            {% endif %}
            <option value="{% url 'docentes' page 1 %}">Nombre A - Z</option>
            <option value="{% url 'docentes' page 2 %}">Nombre Z - A</option>            
            <option value="{% url 'docentes' page 3 %}">Apellido Paterno A - Z</option>
            <option value="{% url 'docentes' page 4 %}">Apellido Paterno Z - A</option>
            <option value="{% url 'docentes' page 5 %}">RFC A - Z</option>
            <option value="{% url 'docentes' page 6 %}">RFC Z - A</option>
        </select>
    </div>
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <table class="w-full whitespace-no-wrap">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-center text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Docente</th>
                        <th class="px-4 py-3">RFC</th>
                        <th class="px-4 py-3">Numero Celular</th>
                        <th class="px-4 py-3">Correo Electronico</th>
                        <th class="px-4 py-3">Estatus</th>
                        <th class="px-4 py-3">Ver docente</th>
                        <th class="px-4 py-3">Eliminar</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {% for docente in docentes %}
                    <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3">
                            <div class="flex items-center text-sm">
                                <!-- Avatar with inset shadow -->
                                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                    <img class="object-cover w-full h-full rounded-full"
                                        src="{{docente.fotoUsuario.url}}" alt="" loading="lazy">
                                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                    </div>
                                </div>
                                <div>
                                    <p class="font-semibold">{{docente}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="text-center px-4 py-3">
                            {{docente.rfc}}
                        </td>
                        <td class="text-center px-4 py-3">
                            {{docente.numCelular}}
                        </td>
                        <td class="text-center px-4 py-3">
                            {{docente.correoElectronico}}
                        </td>
                        <td class="text-center px-4 py-3 text-xs">
                            {% if docente.estatus == 'ACTIVO' %}
                            <span
                                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                {{docente.estatus}}
                            </span>
                            {% elif docente.estatus == 'VACACIONES' %}
                            <span
                                class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600">
                                {{docente.estatus}}
                            </span>
                            {% elif docente.estatus == 'INACTIVO' %}
                            <span
                                class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                                {{docente.estatus}}
                            </span>
                            {% else %}
                            <span
                                class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700">
                                {{docente.estatus}}
                            </span>
                            {% endif %}
                        </td>
                        <td class="px-4 py-3">
                            <div class="flex items-center justify-center">
                                <a href="{% url 'verDocente' docente.id %}">
                                    <button
                                        class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                        aria-label="Like">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </td>
                        <span hidden="hidden" class="elementValue">{{docente}}</span>
                        <td class="px-4 py-3 text-md btnDelete">
                            <div class="flex items-center justify-center">
                                <a href="{% url 'eliminarDocente' docente.id %}"
                                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-orange-100 border border-transparent rounded-lg active:bg-orange-500 hover:bg-orange-500 focus:outline-none focus:shadow-outline-orange dark:text-orange-100 dark:bg-orange-500"
                                    aria-label="Like">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div
            class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
            <span class="flex items-center col-span-3">
                Mostrando {{start}} - {{end}} de {{totalD}}
            </span>
            <span class="col-span-2"></span>
            <!-- Pagination -->
            <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center">
                        <li>                                    
                            {% if prev_page == 0 %}
                            <a href="{% url 'docentes' n_buttons orderB %}">                            
                            {% else %}
                            <a href="{% url 'docentes' prev_page orderB %}">
                            {% endif %}
                                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                                    aria-label="Previous">
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path
                                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                            clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </a>
                        </li>
                        {% for button in buttons %}
                        {% if button == page %}
                        <li>
                            <a href="{% url 'docentes' button orderB %}">
                                <button
                                    class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">
                                    {{button}}
                                </button>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'docentes' button orderB %}">
                                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                    {{button}}
                                </button>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li>
                            {% if next_page > n_buttons %}
                            <a href="{% url 'docentes' 1 orderB %}">                            
                            {% else %}
                            <a href="{% url 'docentes' next_page orderB %}">
                            {% endif %}
                                <button
                                    class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                                    aria-label="Next">
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                        <path
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </span>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/deleteManagement/docentes.js' %}"></script>
{% endblock %}