{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

<div class="container grid px-6 mx-auto">
    <div class="section-content my-6 text-sm font-semibold text-gray-600 dark:text-gray-300">
        <ul>
            <li>
                <a href="/">Inicio</a> /
                <a href="{% url 'dependencias_a' 1 0 0 %}"> Organizaciones o Empresas </a> /
                <a class="text-blue-500" href="{% url 'editar_dependencia' dependencia.id %}"> Editar organización o empresa
                </a>
            </li>
        </ul>
    </div>
    <div class="grid gap-6 mb-2 my-6 md:grid-cols-2">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Editar datos de la Organización o Empresa
        </h2>        
    </div>
    <div class="min-w-0 p-4 mb-8 bg-bluemin rounded-lg shadow-xs dark:bg-gray-800">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{formD.d_nombre.label_tag}}</span>
                {{ formD.d_nombre }}
            </label>
            <p id="messages" class="text-red-600">{{ formD.d_nombre.errors }}</p>

            <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                {% for field in formD %}
                {% if not field.id_for_label in data %}
                <div>
                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                        {{ field }}
                    </label>
                    <p id="messages" class="text-red-600">{{ field.errors }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">Mision:</span>
                {{ formD.mision }}                
            </label>

            
            <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
                Direccion de la Organización o Empresa.
            </h4>
            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{formDom.calle.label_tag}}</span>
                {{ formDom.calle }}
            </label>
            <p id="messages" class="text-red-600">{{ formDom.calle.errors }}</p>

            <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                {% for field in formDom %}
                {% if not field.id_for_label in data %}
                <div>
                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                        {{ field }}
                    </label>
                    <p id="messages" class="text-red-600">{{ field.errors }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
                Titular de la Organización o Empresa.
            </h4>
            <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                {% for field in formT %}
                <div>
                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                        {{ field }}
                    </label>
                    <p id="messages" class="text-red-600">{{ field.errors }}</p>
                </div>
                {% endfor %}                
            </div>
            <br>
            <div>
                <input type="submit"
                    class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    name="Update Information" value="Guardar Cambios">
            </div>
        </form>
    </div>
    
</div>

{% endblock %}