{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reporte</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="all" />
</head>

<body>
  <header class="clearfix">

    <div id="logo">
      <img src="{% static 'images/reporte_pdf/liston.jpg' %}">
      <div id="company" class="clearfix">
        <div>Instituto Tecnológico de Oaxaca</div>
        <div>
          <div> Departamento de Gestión Tecnológica y Vinculación</div>
        </div>
        <div>Avenida Ing. Víctor Bravo Ahuja No. 125 Esquina Calzada Tecnológico,<br /> C.P. 68030</div>

      </div>
    </div>
    <h1>Reporte de datos</h1>
    <div id="project">
      <div> Departamento de Proyectos de Vinculación del Depto. de Sistemas y Computación</div>
      <div><span>JEFE</span> BIBI</div>
      <div><span>CORREO </span><a
          href="mailto:jefatura.vinculacion.sistemas@itoaxaca.edu.mx">jefatura.vinculacion.sistemas@itoaxaca.edu.mx</a>
      </div>
      <div><span>FECHA</span> 17 de abri del 2015</div>
    </div>
  </header>
  <main>

    <table>
      <thead>
        <tr>
          <th class="service">Estado del proyecto</th>
          <th class="desc">Nombre del proyecto</th>
          <th>Numero de integrantes</th>
          <th>QTY</th>
          <th>Secto perteneciente</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="service">Finalizado</td>
          <td class="desc">Proyecto para la integridad de los estudiantes en el ambito social de la salud</td>
          <td class="unit">2</td>
          <td class="qty">26</td>
          <td class="total">Privado</td>
        </tr>
        <tr>
          <td class="service">Finalizado</td>
          <td class="desc">Proyecto para la integridad de los estudiantes en el ambito social de la salud</td>
          <td class="unit">3</td>
          <td class="qty">80</td>
          <td class="total">Privado</td>
        </tr>
        <tr>
          <td class="service">Finalizado</td>
          <td class="desc">Proyecto para la integridad de los estudiantes en el ambito social de la salud</td>
          <td class="unit">3</td>
          <td class="qty">20</td>
          <td class="total">Privado</td>
        </tr>
        <tr>
          <td class="service">Finalizado</td>
          <td class="desc">Proyecto para la integridad de los estudiantes en el ambito social de la salud</td>
          <td class="unit">3</td>
          <td class="qty">4</td>
          <td class="total">Privado</td>
        </tr>

      </tbody>
    </table>
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
          <th class="px-4 py-3">Numero de Control</th>
          <th class="px-4 py-3">Estudiante</th>
          <th class="px-4 py-3">Correo Electronico</th>
          <th class="px-4 py-3 text-center">Semestre</th>                    
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        {% for estudiante in all_estudiantes %}
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-3">
            <div class="flex items-center justify-center">
              {{estudiante.numControl}}
            </div>
          </td>
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                <img class="object-cover w-full h-full rounded-full" src="{{estudiante.fotoUsuario.url}}" alt=""
                  loading="lazy">
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                </div>
              </div>
              <div>
                <p class="font-semibold">{{estudiante}}</p>
              </div>
            </div>
          </td>
          <td class="px-4 py-3">
            {{estudiante.correoElectronico}}
          </td>
          <td class="px-4 py-3 text-center">
            <div class="flex items-center justify-center">
              {{estudiante.semestre}}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="notices">
      <div>Total:</div>
      <div class="notice">Numero de proyectos en el sector publico es:</div>
      <div class="notice">Numero de proyectos en el sector privado es:</div>
    </div>
  </main>
  <footer>
    Avenida Ing. Víctor Bravo Ahuja No. 125 Esquina Calzada Tecnológico, C.P. 68030. Tel. (951) 5015016
    e-mail: tec_oax@itoaxaca.edu.mx | www.oaxaca.tecnm.mx

    <div id="logo2">

      <img src="{% static 'images/reporte_pdf/logoito.png' %}">

    </div>
  </footer>
</body>

</html>