{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

<div class="container grid px-6 mx-auto">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <br>
            <div class="grid gap-6 mb-2 my-6 md:grid-cols-2">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                    Datos de la Organización o Empresa
                </h2>
                <div class="relative">
                    <a class="px-4 py-2 text-sm absolute right-0 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        href="{% url 'dependencias_a' 1 0 0 %}">Volver</a>
                </div>
            </div>
            <div class="grid gap-6 mb-8 md:grid-cols-1">
                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in formD %}
                            {% if not field.id_for_label in data %}
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                                {{ field }}
                            </label>
                            <p id="messages" class="text-red-600">{{ field.errors }}</p>
                            {% endif %}
                            {% endfor %}

                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Mision:</span>

                                <textarea id="message" rows="4" disabled
                                    class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Your message...">{{ dependencia.mision }}</textarea>
                            </label>

                            {% if dependencia.domicilio %}

                            {% for field in formDom %}
                            {% if not field.id_for_label in data %}
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                                {{ field }}
                            </label>
                            <p id="messages" class="text-red-600">{{ field.errors }}</p>
                            {% endif %}
                            {% endfor %}

                            {% else %}
                            <br>
                            <a href="{% url 'alta_domicilio_dep' dependencia.id %}">
                                <p
                                    class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-y-700 bg-y-100 transition-colors duration-150 dark:text-white dark:bg-y-700 border border-transparent rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zm-7.518-.267A8.25 8.25 0 1120.25 10.5M8.288 14.212A5.25 5.25 0 1117.25 10.5" />
                                    </svg>
                                    Asigne un domicilio a la dependencia.
                                </p>
                            </a>
                            {% endif %}

                            {% if dependencia.titular %}
                            <br>
                            <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
                                Titular de la dependencia
                            </h4>
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400"><label
                                        for="id_t_nombre">Nombre:</label></span>
                                <input type="text" name="t_nombre" value="{{dependencia.titular}}" maxlength="100"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    disabled="" required="" id="id_t_nombre">
                            </label>
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400"><label
                                        for="id_t_nombre">Puesto:</label></span>
                                <input type="text" name="t_nombre" value="{{dependencia.titular.t_puesto}}"
                                    maxlength="100"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    disabled="" required="" id="id_t_nombre">
                            </label>
                            {% else %}
                            <br>
                            <a href="{% url 'alta_titular_dep' dependencia.id %}">
                                <p
                                    class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-y-700 bg-y-100 transition-colors duration-150 dark:text-white dark:bg-y-700 border border-transparent rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zm-7.518-.267A8.25 8.25 0 1120.25 10.5M8.288 14.212A5.25 5.25 0 1117.25 10.5" />
                                    </svg>
                                    Asigne un titular a la dependencia.
                                </p>
                            </a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}