{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

<div class="container grid px-6 mx-auto">
    <div class="section-content my-6 text-sm font-semibold text-gray-600 dark:text-gray-300">
        <ul>
            <li>
                <a href="/">Inicio</a> /
                <a href="{% url 'dependencias_a' 1 0 0 %}"> Organizaciones o Empresas </a> /
                <a class="text-blue-500" href="{% url 'ver_dependencia' dependencia.id %}"> Ver organización o empresa
                </a>
            </li>
        </ul>
    </div>
    <div class="grid gap-6 mb-2 my-6 md:grid-cols-2">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Datos de la Organización o Empresa
        </h2>
        <div class="relative">
            <a class="px-4 py-2 text-sm absolute right-0 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                href="{% url 'dependencias_a' 1 0 0 %}">Volver</a>
        </div>
    </div>
    <div class="min-w-0 p-4 mb-8 bg-bluemin rounded-lg shadow-xs dark:bg-gray-800">
        <form action="" method="POST" enctype="multipart/form-data">
            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{formD.d_nombre.label_tag}}</span>
                {{ formD.d_nombre }}
            </label>
            <p id="messages" class="text-red-600">{{ formD.d_nombre.errors }}</p>

            <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                {% for field in formD %}
                {% if not field.id_for_label in data %}
                <div>
                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                        {{ field }}
                    </label>
                    <p id="messages" class="text-red-600">{{ field.errors }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">Mision:</span>

                <textarea id="message" rows="4" disabled
                    class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Your message...">{{ dependencia.mision }}</textarea>
            </label>

            
            <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
                Direccion de la Organización o Empresa.
            </h4>
            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">{{formDom.calle.label_tag}}</span>
                {{ formDom.calle }}
            </label>
            <p id="messages" class="text-red-600">{{ formDom.calle.errors }}</p>

            <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                {% for field in formDom %}
                {% if not field.id_for_label in data %}
                <div>
                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                        {{ field }}
                    </label>
                    <p id="messages" class="text-red-600">{{ field.errors }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>


            <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
                Titular de la Organización o Empresa.
            </h4>
            <div class="grid gap-6  md:grid-cols-2">
                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400"><label for="id_t_nombre">Nombre:</label></span>
                    <input type="text" name="t_nombre" value="{{dependencia.titular}}" maxlength="100"
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        disabled="" required="" id="id_t_nombre">
                </label>
                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400"><label for="id_t_nombre">Puesto:</label></span>
                    <input type="text" name="t_nombre" value="{{dependencia.titular.t_puesto}}" maxlength="100"
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        disabled="" required="" id="id_t_nombre">
                </label>
            </div>
                                    
        </form>
    </div>
    
</div>

{% endblock %}