{% extends 'Global/main.html'%}
{% load static %}

{% block content %}
<div class="container grid px-6 mx-auto">
  <div class="section-content my-6 text-sm font-semibold text-gray-600 dark:text-gray-300">
    {% if group == 'admin' %}
    <ul>
      <li>
        <a href="/">Inicio</a> /
        <a href="{% url 'anteproyectos' 1 0 0 %}"> Anteproyectos</a> /
        <a class="text-blue-500" href="{% url 'verAnteproyecto' anteproyecto.id %}"> Ver anteproyecto</a>
      </li>
    </ul>
    {% elif group == 'teacher'%}
    <ul>
      <li>
        <a href="/">Inicio</a> /
        <a class="text-blue-500" href="{% url 'verAnteproyecto' anteproyecto.id %}"> Ver anteproyecto</a>
      </li>
    </ul>
    {% endif %}
  </div>
  <div class="grid gap-6 mb-2 mt-2 md:grid-cols-2">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Datos del anteproyecto
    </h2>
    <div class="relative">
      {% if group == 'admin' %}
      <a href="{% url 'anteproyectos' 1 0 0 %}">
        {% elif group == 'teacher'%}
        <a href="{% url 'home' %}">
          {% endif %}
          <button
            class="px-4 py-2 text-sm absolute right-0 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Volver</button>
        </a>
    </div>
  </div>

  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      {% if group == 'admin' %}
      <a href="#" @click="openModal">
        {% endif %}
        <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
          {% if group == 'admin' %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path
              d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
            <path
              d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
          </svg>
          {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd"
              d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z"
              clip-rule="evenodd" />
            <path fill-rule="evenodd"
              d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z"
              clip-rule="evenodd" />
          </svg>
          {% endif %}
        </div>
      </a>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Estado del Anteproyecto
        </p>
        {% if anteproyecto.estatus == 'ACEPTADO' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
          {{anteproyecto.estatus}}
        </span>
        {% elif anteproyecto.estatus == 'ENVIADO' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-blue-700 bg-blue-100 rounded-full dark:bg-blue-500 dark:text-blue-100">
          {{anteproyecto.estatus}}
        </span>
        {% elif anteproyecto.estatus == 'EN REVISION' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500">
          {{anteproyecto.estatus}}
        </span>
        {% elif anteproyecto.estatus == 'RECHAZADO' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
          {{anteproyecto.estatus}}
        </span>
        {% elif anteproyecto.estatus == 'CANCELADO' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
          {{anteproyecto.estatus}}
        </span>
        {% elif anteproyecto.estatus == 'REVISADO' %}
        <span class="text-sm px-2 py-1 font-semibold leading-tight text-gray-700 bg-y-100 rounded-full  dark:bg-y-700">
          {{anteproyecto.estatus}}
        </span>
        {% else %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700">
          {{anteproyecto.estatus}}
        </span>
        {% endif %}
      </div>
    </div>
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-greeny-700 bg-greeny-100 rounded-full dark:text-green-100 dark:bg-greeny-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd"
            d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd"
            d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Estado <strong> revisor 1 </strong>
        </p>
        {% if anteproyecto.estatusR1 == 'ACEPTADO' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
          {{anteproyecto.estatusR1}}
        </span>
        {% elif anteproyecto.estatusR1 == 'EN REVISION' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-blue-700 bg-blue-100 rounded-full dark:bg-blue-500 dark:text-blue-100">
          {{anteproyecto.estatusR2}}
        </span>
        {% elif anteproyecto.estatusR1 == 'RECHAZADO' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
          {{anteproyecto.estatusR2}}
        </span>
        {% else %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700">
          {{anteproyecto.estatusR2}}
        </span>
        {% endif %}
      </div>
    </div>
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-greeny-700 bg-greeny-100 rounded-full dark:text-green-100 dark:bg-green-800">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd"
            d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd"
            d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Estado <strong> revisor 2 </strong>
        </p>
        {% if anteproyecto.estatusR2 == 'ACEPTADO' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
          {{anteproyecto.estatusR2}}
        </span>
        {% elif anteproyecto.estatusR2 == 'EN REVISION' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-blue-700 bg-blue-100 rounded-full dark:bg-blue-500 dark:text-blue-100">
          {{anteproyecto.estatusR2}}
        </span>
        {% elif anteproyecto.estatusR2 == 'RECHAZADO' %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
          {{anteproyecto.estatusR2}}
        </span>
        {% else %}
        <span
          class="text-sm px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700">
          {{anteproyecto.estatusR2}}
        </span>
        {% endif %}
      </div>
    </div>
    <div>
      <a href="{% url 'anteproyectos_similares' anteproyecto.id 1 %}" target="_blank">
        <div class="flex items-center p-4 bg-blue-500 rounded-lg shadow-xs">
          <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path d="M8.25 10.875a2.625 2.625 0 115.25 0 2.625 2.625 0 01-5.25 0z" />
              <path fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.125 4.5a4.125 4.125 0 102.338 7.524l2.007 2.006a.75.75 0 101.06-1.06l-2.006-2.007a4.125 4.125 0 00-3.399-6.463z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div>
            <p class="text-lg font-semibold text-white">
              Buscar anteproyectos similares
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  {% if historial_estudiantes %}
  {% for estudiante in historial_estudiantes %}
  <div
    class="flex items-center justify-center w-full mt-2 mb-2 px-4 py-2 text-sm font-medium leading-5 text-teal-500 bg-y-100 transition-colors duration-150 dark:text-white dark:bg-y-700 border border-transparent rounded-lg">
    <p class="text-sm text-teal-500 dark:text-teal-100">
      El estudiante
      <a href="{% url 'historial_estudiante' estudiante.id %}" target="_blank">
        <span style="color:#ce1500">
          <b> <u> {{estudiante.nombre}}</u> </b>
        </span>
      </a>
      ha participado anteriormente en un
      anteproyecto.
    </p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="ml-4 w-6 h-6">
      <path fill-rule="evenodd"
        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
        clip-rule="evenodd" />
    </svg>
  </div>

  {% endfor %}
  {% endif %}


  <div class="grid gap-6 mb-8 md:grid-cols-1">
    <br>
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
          Documento Anteproyecto
        </h4>
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% if not anteproyecto.anteproyectoDoc %}
          <div
            class="mb-4 text-lg text-center items-center justify-center font-semibold text-red-600 dark:text-red-300">
            <h4>
              No se ha subido el documento del Anteproyecto
            </h4>
            <div class="inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
              </svg>
            </div>
          </div>

          {% else %}
          <a class="text-green-500" href="/media/{{formDoc.anteproyectoDoc.value}}" target="_blank">
            <img alt="Qries" src="{% static 'images/pdficon.png' %}" width=130" height="50" class="mx-auto d-block">
            {{formDoc.anteproyectoDoc.label}} PDF
          </a>
          {% if group == 'admin' %}
          <div class="relative">
            <a class="px-4 py-2 text-sm absolute right-0 font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
              href="{% url 'removeDoc' anteproyecto.id %}">Eliminar</a>
          </div>
          {% endif %}
          {% endif %}
          <br>
        </form>
      </div>
    </div>
  </div>

  <div class="grid gap-6 mb-2 md:grid-cols-2">
    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
      Datos generales
    </h4>
    {% if group == 'admin' %}
    <div class="relative">
      <a class="px-4 py-2 text-sm absolute right-0 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
        href="{% url 'editarAnteproyectoAdmin' anteproyecto.id %}">Editar Informacion</a>
    </div>
    {% endif %}
  </div>

  <div class="grid gap-6 mb-8 md:grid-cols-1">
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <form action="" method="POST" enctype="multipart/form-data">

        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">{{formA.a_nombre.label_tag}}</span>
          {{ formA.a_nombre }}
        </label>
        <p id="messages" class="text-red-600">{{ formA.a_nombre.errors }}</p>
        <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
          {% for field in formA %}
          {% if not field.id_for_label in data %}
          <div>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
              {{ field }}
            </label>
            <p id="messages" class="text-red-600">{{ field.errors }}</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">Breve descripción del anteproyecto</span>
          {{ formA.descripcion }}
        </label>          
        <br>

      </form>
    </div>
  </div>

  {% if group == 'admin' %}
  <div class="grid gap-6 mb-2 md:grid-cols-2">
    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
      Observaciones
    </h4>
    <div class="relative">
      <a class="px-4 py-2 text-sm absolute right-0 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
        href="{% url 'editarObservaciones' anteproyecto.id %}">Editar Observaciones</a>
    </div>
  </div>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      {% if observaciones %}
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <p class="text-red-600">Fecha limite para realizar las correcciones: <strong> {{fechaObservacion}} </strong>
        </p>
      </div>
      <br>
      <table class="w-full">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Docente</th>
            <th class="px-4 py-3">Fecha</th>
            <th class="px-4 py-3">Observacion</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for observacion in observaciones %}
          <tr class="text-gray-700 dark:text-gray-400">
            {% if observacion.docente %}
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full rounded-full" src="{{observacion.docente.fotoUsuario.url}}"
                    alt="" loading="lazy" />
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold whitespace-no-wrap">{{observacion.docente}}</p>
                </div>
              </div>
            </td>
            {% else %}
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full rounded-full"
                    src="{% static 'images/profilesPic/admin/admin1.jpg' %}" alt="" loading="lazy" />
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold whitespace-no-wrap">Administrador</p>
                </div>
              </div>
            </td>
            {% endif %}
            <td class="px-4 py-3 text-md">{{observacion.fechaElaboracion|date:"d/M/Y"}}</td>
            <td class="px-4 py-3 text-md">
              {% autoescape off %}
              {{observacion.observacionD}}
              {% endautoescape %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <p
          class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-500 border border-transparent rounded-lg">
          No tiene observaciones aun
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
          </svg>
        </p>
      </div>
      {% endif %}
    </div>
  </div>

  <h4 class="mt-8 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Actualizaciones
  </h4>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      {% if actualizaciones %}
      <table class="w-full">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3 text-center">Fecha</th>
            <th class="px-4 py-3">Descripción</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for actualizacion in actualizaciones %}
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3 text-md text-center">{{actualizacion.fecha|date:"d/M/Y"}}</td>
            {% if actualizacion.tipo == 'ACTUALIZADO' %}
            <td class="px-4 py-3 text-md text-green-500">{{actualizacion.descripcion}}</td>
            {% else %}
            <td class="px-4 py-3 text-md text-red-600">{{actualizacion.descripcion}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <p
          class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-500 border border-transparent rounded-lg">
          No se ha actualizado el documento del anteproyecto aún
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
          </svg>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <br>
  <h4 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Datos de los integrantes
  </h4>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Estudiante</th>
            <th class="px-4 py-3">Número de control</th>
            <th class="px-4 py-3">E-mail</th>
            <th class="px-4 py-3">Número teléfonico</th>
            <th class="px-4 py-3 text-center">Estado</th>
            <th class="px-4 py-3 text-center">Ver Estudiante</th>
            {% if group == 'admin' %}
            <th class="px-4 py-3 text-center">Eliminar</th>
            <th class="px-4 py-3 text-center">Cancelar anteproyecto</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for student in estudiantes %}
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full rounded-full" src="{{student.fotoUsuario.url}}" alt=""
                    loading="lazy" />
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold">{{student.nombre}}</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-md">{{student.numControl}}</td>
            <td class="px-4 py-3 text-md">{{student.correoElectronico}}</td>
            <td class="px-4 py-3 text-md">{{student.numCelular}}</td>
            <td class="px-4 py-3 text-md">
              {% if student.anteproyecto_estatus == 'ACTIVO' %}
              <span
                class="text-sm px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                {{student.anteproyecto_estatus}}
              </span>
              {% else %}
              <span
                class="text-sm px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                {{student.anteproyecto_estatus}}
              </span>
              {% endif %}
            </td>
            <td class="px-4 py-3 text-md">
              <div class="flex items-center justify-center">
                <a href="{% url 'verEstudiante' student.id %}">
                  <button type="button"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-500 border border-transparent rounded-lg active:bg-blue-500 hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue dark:text-blue-100 dark:bg-blue-500"
                    aria-label="Like">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                  </button>
                </a>
              </div>
            </td>
            <span hidden="hidden" class="elementValue">{{student}}</span>
            {% if group == 'admin' %}
            <td class="px-4 py-3 text-md flex items-center justify-center btnDelete">
              <a href="{% url 'removeEstudiante' student.id %}" type="button" aria-label="Like"
                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 transition-colors duration-150 text-orange-500 bg-orange-100 border border-transparent rounded-lg active:bg-orange-500 hover:bg-orange-500 focus:outline-none focus:shadow-outline-orange dark:text-orange-100 dark:bg-orange-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
              </a>
            </td>
            <td class="px-4 py-3 text-md">
              <div class="flex items-center justify-center btnDelete2">
                <a href="{% url 'cancelar_anteproyecto' student.id %}"
                  class="flex items-center justify-between px-2 py-2 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                  </svg>
                </a>
              </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

    <br>
    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
      Datos del Revisor 1
    </h4>
    {% if revisor1 %}
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Nombre</th>
            <th class="px-4 py-3">Apellidos</th>
            <th class="px-4 py-3">E-mail</th>
            <th class="px-4 py-3">Número teléfonico</th>
            <th class="px-4 py-3 text-center">Ver</th>
            {% if group == 'admin' %}
            <th class="px-4 py-3 text-center">Eliminar</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full rounded-full" src="{{revisor1.fotoUsuario.url}}" alt=""
                    loading="lazy" />
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold">{{revisor1.nombre}}</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-md">{{revisor1.apellidoP}} {{revisor1.apellidoM}}</td>
            <td class="px-4 py-3 text-md">{{revisor1.correoElectronico}}</td>
            <td class="px-4 py-3 text-md">{{revisor1.numCelular}}</td>
            <td class="px-4 py-3 text-md">
              <div class="flex items-center justify-center">
                <a href="{% url 'verDocente' revisor1.id %}">
                  <button type="button"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-500 border border-transparent rounded-lg active:bg-blue-500 hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue dark:text-blue-100 dark:bg-blue-500"
                    aria-label="Like">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                  </button>
                </a>
              </div>
            </td>
            <span hidden="hidden" class="elementValue">{{revisor1}}</span>
            {% if group == 'admin' %}
            <td class="px-4 py-3 text-md flex items-center justify-center btnDelete">
              <a href="{% url 'removeRevisor1' anteproyecto.id %}" type="button" aria-label="Like"
                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 transition-colors duration-150 text-orange-500 bg-orange-100 border border-transparent rounded-lg active:bg-orange-500 hover:bg-orange-500 focus:outline-none focus:shadow-outline-orange dark:text-orange-100 dark:bg-orange-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
              </a>
            </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <p
        class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-teal-500 border border-transparent rounded-lg">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46" />
        </svg>
        Un Revisor le sera asignado pronto.
      </p>
    </div>
    {% if group == 'admin' %}
    <div class="h-fit min-h-full flex justify-end">
      <a href="{% url 'asignarRevisor1' 1 anteproyecto.id %}">
        <button
          class="float-right ml-2 bg-blue-400 hover:bg-blue-600 text-gray-600 dark:text-gray-300 text-sm font-bold rounded px-2 py-1">
          Asignar Revisor 1
        </button>
      </a>
    </div>
    {% endif %}
    {% endif %}

    <br>
    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
      Datos del Revisor 2
    </h4>

    {% if revisor2 %}
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Nombre</th>
            <th class="px-4 py-3">Apellidos</th>
            <th class="px-4 py-3">E-mail</th>
            <th class="px-4 py-3">Número teléfonico</th>
            <th class="px-4 py-3 text-center">Ver</th>
            {% if group == 'admin' %}
            <th class="px-4 py-3 text-center">Eliminar</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <img class="object-cover w-full h-full rounded-full" src="{{revisor2.fotoUsuario.url}}" alt=""
                    loading="lazy" />
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold">{{revisor2.nombre}}</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-md">{{revisor2.apellidoP}} {{revisor2.apellidoM}}</td>
            <td class="px-4 py-3 text-md">{{revisor2.correoElectronico}}</td>
            <td class="px-4 py-3 text-md">{{revisor2.numCelular}}</td>
            <td class="px-4 py-3 text-md">
              <div class="flex items-center justify-center">
                <a href="{% url 'verDocente' revisor2.id %}">
                  <button type="button"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-500 border border-transparent rounded-lg active:bg-blue-500 hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue dark:text-blue-100 dark:bg-blue-500"
                    aria-label="Like">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                  </button>
                </a>
              </div>
            </td>
            <span hidden="hidden" class="elementValue">{{revisor2}}</span>
            {% if group == 'admin' %}
            <td class="px-4 py-3 text-md flex items-center justify-center btnDelete">
              <a href="{% url 'removeRevisor2' anteproyecto.id %}" type="button" aria-label="Like"
                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 transition-colors duration-150 text-orange-500 bg-orange-100 border border-transparent rounded-lg active:bg-orange-500 hover:bg-orange-500 focus:outline-none focus:shadow-outline-orange dark:text-orange-100 dark:bg-orange-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
              </a>
            </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <p
        class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-teal-500 border border-transparent rounded-lg">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46" />
        </svg>
        Un Revisor le sera asignado pronto.
      </p>
    </div>
    {% if group == 'admin' %}
    <div class="h-fit min-h-full flex justify-end">
      <a href="{% url 'asignarRevisor2' 1 anteproyecto.id %}">
        <button
          class="float-right ml-2 bg-blue-400 hover:bg-blue-600 text-gray-600 dark:text-gray-300 text-sm font-bold rounded px-2 py-1">
          Asignar Revisor 2
        </button>
      </a>
    </div>
    {% endif %}
    {% endif %}

    <br>
    <h4 class="mb-1 text-lg font-semibold text-gray-600 dark:text-gray-300">
      Datos de la Organización o Empresa
    </h4>

    <div class="min-w-0 p-4 bg-bluemin rounded-lg shadow-xs dark:bg-gray-800">
      <form action="" method="POST" enctype="multipart/form-data">

        {% if formD %}

        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">{{formD.d_nombre.label_tag}}</span>
          {{ formD.d_nombre }}
        </label>
        <p id="messages" class="text-red-600">{{ formD.d_nombre.errors }}</p>

        <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
          {% for field in formD %}
          {% if not field.id_for_label in data %}
          <div>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
              {{ field }}
            </label>
            <p id="messages" class="text-red-600">{{ field.errors }}</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>

        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">Mision:</span>

          <textarea id="message" rows="4" disabled
            class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Your message...">{{ dependencia.mision }}</textarea>
        </label>

        {% if dependencia.domicilio %}

        <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
          Direccion de la Organización o Empresa.
        </h4>
        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">{{formDom.calle.label_tag}}</span>
          {{ formDom.calle }}
        </label>
        <p id="messages" class="text-red-600">{{ formDom.calle.errors }}</p>

        <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
          {% for field in formDom %}
          {% if not field.id_for_label in data %}
          <div>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
              {{ field }}
            </label>
            <p id="messages" class="text-red-600">{{ field.errors }}</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>

        {% else %}
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <p
            class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-y-700 bg-y-100 transition-colors duration-150 dark:text-white dark:bg-y-700 border border-transparent rounded-lg">
            No se ha asignado una direccion a la Organización o Empresa.
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                clip-rule="evenodd" />
            </svg>
          </p>
        </div>
        {% endif %}

        <br>
        <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
          Titular de la dependencia
        </h4>

        {% if dependencia.titular %}
        <div class="grid gap-6  md:grid-cols-2">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400"><label for="id_t_nombre">Nombre:</label></span>
            <input type="text" name="t_nombre" value="{{dependencia.titular}}" maxlength="100"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              disabled="" required="" id="id_t_nombre">
          </label>
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400"><label for="id_t_nombre">Puesto:</label></span>
            <input type="text" name="t_nombre" value="{{dependencia.titular.t_puesto}}" maxlength="100"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              disabled="" required="" id="id_t_nombre">
          </label>
        </div>

        {% else %}
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <p
            class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-y-700 bg-y-100 transition-colors duration-150 dark:text-white dark:bg-y-700 border border-transparent rounded-lg">
            No se ha asignado un titular para la Organización o Empresa.
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                clip-rule="evenodd" />
            </svg>
          </p>
        </div>
        {% endif %}

        <br>
        <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
          Asesor Externo
        </h4>
        {% if anteproyecto.asesorExterno %}
        <div class="grid gap-6  md:grid-cols-2">
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400"><label for="id_t_nombre">Nombre:</label></span>
            <input type="text" name="t_nombre" value="{{anteproyecto.asesorExterno}}" maxlength="100"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              disabled="" required="" id="id_t_nombre">
          </label>
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400"><label for="id_t_nombre">Puesto:</label></span>
            <input type="text" name="t_nombre" value="{{anteproyecto.asesorExterno.puesto}}" maxlength="100"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              disabled="" required="" id="id_t_nombre">
          </label>
        </div>
        <br>
        {% else %}
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <p
            class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-y-700 bg-y-100 transition-colors duration-150 dark:text-white dark:bg-y-700 border border-transparent rounded-lg">
            No se ha asignado un asesor externo de la Organización o Empresa.
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                clip-rule="evenodd" />
            </svg>
          </p>
        </div>
        {% endif %}
        <br>
        {% else %}
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <p
            class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-y-700 bg-y-100 transition-colors duration-150 dark:text-white dark:bg-y-700 border border-transparent rounded-lg">
            No se ha asignado una Organización o Empresa para este Anteproyecto.
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                clip-rule="evenodd" />
            </svg>
          </p>
        </div>
        {% endif %}
      </form>
    </div>


  </div>
</div>

<div x-show="isModalOpen" x-transition:enter="transition ease-out duration-150" x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-150"
  x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
  class="fixed inset-0 z-30 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center">
  <!-- Modal -->
  <div x-show="isModalOpen" x-transition:enter="transition ease-out duration-150"
    x-transition:enter-start="opacity-0 transform translate-y-1/2" x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0  transform translate-y-1/2" @click.away="closeModal" @keydown.escape="closeModal"
    class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
    role="dialog" id="modal">
    <!-- Remove header if you don't want a close icon. Use modal body to place modal tile. -->
    <header class="flex justify-end">
      <button
        class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700"
        aria-label="close" @click="closeModal">
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" role="img" aria-hidden="true">
          <path
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd" fill-rule="evenodd"></path>
        </svg>
      </button>
    </header>
    <!-- Modal body -->
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mt-4 mb-6">
        <!-- Modal title -->
        <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
          Seleccione el nuevo Estado para el Anteproyecto
        </p>
        <!-- Modal description -->
        <p class="text-sm text-gray-700 dark:text-gray-400">
          <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">Estado Anteproyecto</span>
            {{ formEstado }}
          </label>
        </p>
      </div>
      <footer
        class="flex flex-col items-center justify-end px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row bg-gray-50 dark:bg-gray-800">
        <button @click="closeModal" type="button"
          class="w-full px-5 py-3 text-sm font-medium leading-5 text-white text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
          Cancelar
        </button>
        <input
          class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
          type="submit" value="Aceptar">
      </footer>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
{% if group == 'admin'%}
<script src="{% static 'js/deleteManagement/verAnteproyecto.js' %}"></script>
{% else %}
<script src="{% static 'js/uploadManagement/tomarA.js' %}"></script>
{% endif %}
{% endblock %}