{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

<main class="h-full pb-16 overflow-y-auto">
  <!-- Remove everything INSIDE this div to a really blank page -->
  <div class="container px-6 mx-auto grid">
    <div class="section-content my-6 text-sm font-semibold text-gray-600 dark:text-gray-300">
      <ul>
        <li>
          <a href="/">Inicio</a> /
          <a href="{% url 'docentes' 1 0 %}"> Docentes</a> /
          <a class="text-blue-500" href="{% url 'verDocente' docente.id %}"> Ver docente</a>
        </li>
      </ul>
    </div>
    <h2 class="mt-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Actividad del docente
    </h2>
    <div class="grid gap-6 my-8 md:grid-cols-2 xl:grid-cols-4">
      <!-- Card -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
            </path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Anteproyectos activos
          </p>
          <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
            {{actividad_docente.0}}
          </p>
        </div>
      </div>
      <!-- Card -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Residencias activas
          </p>
          <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
            {{actividad_docente.1}}
          </p>
        </div>
      </div>
      <!-- Card -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z">
            </path>
          </svg>

        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Asesor Interno (Activo)
          </p>
          <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
            {{actividad_docente.2}}
          </p>
        </div>
      </div>
      <!-- Card -->
      <div class="relative">
        <div class="absolute inset-y-0 right-0">
          <button
            class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            onClick="history.back()">
            Volver
          </button>
        </div>
      </div>
      <!-- Card -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Anteproyectos pasados
          </p>
          <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
            {{actividad_docente.3}}
          </p>
        </div>
      </div>
      <!-- Card -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z">
            </path>
          </svg>

        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Residencias pasadas
          </p>
          <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
            {{actividad_docente.4}}
          </p>
        </div>
      </div>
      <!-- Card -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Revisor Residencia (Activo)
          </p>
          <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
            {{actividad_docente.5}}
          </p>
        </div>
      </div>
    </div>

    <div class="grid gap-7 mb-9 md:grid-cols-2">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Información del docente
      </h2>

      <div class="grid gap-7 mb-9 mt-2 md:grid-cols-2">
        {% if group == 'admin'%}
        <a href="{% url 'editarDocente' docente.id %}">
          <button
            class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
            Editar informacion
          </button>
        </a>
        {% endif %}
      </div>

    </div>
    <div class="grid gap-6 mb-8 md:grid-cols-2">
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <h4 class="mb-4 text-xl font-semibold text-gray-600 dark:text-gray-300">
          Información general
        </h4>
        <label class="block text-sm items-center">
          <img src="{{ docente.fotoUsuario.url }}" alt="user-avatar" class="mx-auto d-block profile-pic"
            id="uploadedAvatar" />
        </label>
        <br>
        <ul class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            Nombre:
            <span class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
              {{ docente }}
            </span>
          </li>
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            CURP:
            <span class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
              {{ docente.curp }}
            </span>
          </li>
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            RFC:
            <span class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
              {{ docente.rfc }}
            </span>
          </li>
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            Correo electronico:
            <span class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
              {{ docente.correoElectronico }}
            </span>
          </li>
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            Número de contacto:
            <span class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
              {{ docente.numCelular }}
            </span>
          </li>
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            Estatus:
            <span class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
              {{ docente.estatus }}
            </span>
          </li>
        </ul>
      </div>
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <h4 class="mb-4 text-xl font-semibold text-gray-600 dark:text-gray-300">
          Perfil Academico
        </h4>
        <label class="block text-sm items-center ">
          <img src="{% static 'images/itologo.png' %}" alt="user-avatar" class="mx-auto d-block " height="150"
            width="150" id="imageschool" />
        </label>
        <br>
        <ul class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            Puesto:
            <span class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
              {{ docente.puesto }}
            </span>
          </li>
          <br>
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            Materias:
          </li>
          {% if materias %}
          {% for materia in materias %}
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            <span class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
              * {{ materia.nombre }}
            </span>
          </li>
          {% endfor %}
          {% else %}
          <li class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
            <span class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">
              No tiene materias
            </span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>


  </div>
</main>

{% endblock %}