{% extends 'Global/main.html'%}
{% load static %}

{% block content %}
<div class="container grid px-6 mx-auto" id="reportPage">
    <div class="section-content my-6 text-sm font-semibold text-gray-600 dark:text-gray-300">
        <ul>
            <li><a class="text-blue-500" href="/">Inicio</a> </li>
        </ul>
    </div>
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Panel del administrador
    </h2>
    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                    </path>
                </svg>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Total alumnos dados de alta
                </p>
                <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
                    {{totalAlumnos}}
                </p>
            </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                        d="M1.5 5.625c0-1.036.84-1.875 1.875-1.875h17.25c1.035 0 1.875.84 1.875 1.875v12.75c0 1.035-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 18.375V5.625zM21 9.375A.375.375 0 0020.625 9h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 00.375-.375v-1.5zm0 3.75a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 00.375-.375v-1.5zm0 3.75a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 00.375-.375v-1.5zM10.875 18.75a.375.375 0 00.375-.375v-1.5a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375h7.5zM3.375 15h7.5a.375.375 0 00.375-.375v-1.5a.375.375 0 00-.375-.375h-7.5a.375.375 0 00-.375.375v1.5c0 .207.168.375.375.375zm0-3.75h7.5a.375.375 0 00.375-.375v-1.5A.375.375 0 0010.875 9h-7.5A.375.375 0 003 9.375v1.5c0 .207.168.375.375.375z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Anteproyectos totales
                </p>
                <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
                    {{anteproyectosT}}
                </p>
            </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                </svg>

            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Residencias finalizadas
                </p>
                <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
                    {{residenciasF}}
                </p>
            </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                        d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                        clip-rule="evenodd" />
                    <path
                        d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z" />
                </svg>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Docentes dados de alta
                </p>
                <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
                    {{docentes}}
                </p>
            </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            {% if anteproyectosRE > 0 %}
            <a href="{% url 'anteproyectos' 1 0 5 %}">
                {% endif %}
                <div class="p-3 mr-4 text-teal-500 bg-y-100 rounded-full dark:text-teal-100 dark:bg-y-700">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
                        <path fill-rule="evenodd"
                            d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </a>
            <div>
                <p class="mb-2 text-sm text-center font-medium text-gray-600 dark:text-gray-400">
                    Anteproyectos listos para autorizar
                </p>
                <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
                    {{anteproyectosRE}}
                </p>
            </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            {% if epedientesC > 0 %}
            <a href="{% url 'expedientes' 1 0 3 %}">
                {% endif %}
                <div
                    class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
                        <path fill-rule="evenodd"
                            d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </a>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Expedientes completos
                </p>
                <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
                    {{epedientesC}}
                </p>
            </div>
        </div>
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            {% if anteproyectosE > 0 %}
            <a href="{% url 'anteproyectos' 1 0 2 %}">
                {% endif %}
                <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
                        <path fill-rule="evenodd"
                            d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </a>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Anteproyectos pendientes
                </p>
                <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
                    {{anteproyectosE}}
                </p>
            </div>
        </div>
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            {% if residenciasI > 0 %}
            <a href="{% url 'residencias' 1 0 1 %}">
                {% endif %}
                <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
                        <path fill-rule="evenodd"
                            d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </a>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Residencias pendientes
                </p>
                <p class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200">
                    {{residenciasI}}
                </p>
            </div>
        </div>
    </div>

    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Gráficas
    </h2>
    <a href="#" id="downloadPdf" hidden="hidden">Download Report Page as PDF</a>
    <br /><br />
    <div class="grid gap-6 mb-8 md:grid-cols-1">
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                Anteproyectos por estado
            </h4>
            <canvas id="pie1"></canvas>
            <div class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
                <!-- Chart legend -->
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#73B761;"></span>
                    <span>ENVIADO</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#2c3038;"></span>
                    <span>PENDIENTE</span>
                </div>
                <div class="flex items-center text-center ">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#FE9666;"></span>
                    <span>EN REVISION</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#F2C80F;"></span>
                    <span>REVISADO</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#4A8DDC;"></span>
                    <span>ACEPTADO</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#D83B01;"></span>
                    <span>RECHAZADO</span>
                </div>
            </div>
        </div>
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                Residencias por estado
            </h4>
            <canvas id="pie2"></canvas>
            <div class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
                <!-- Chart legend -->
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#2192FF;"></span>
                    <span>INICIADA</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#FCE700;"></span>
                    <span>EN PROCESO</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 bg-purple-600 rounded-full"></span>
                    <span>PRORROGA</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#9CFF2E;"></span>
                    <span>FINALIZADA</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#D83B01;"></span>
                    <span>RECHAZADA</span>
                </div>
            </div>
        </div>
    </div>

    <div class="grid gap-6 mb-8 md:grid-cols-1">
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                Anteproyectos por Estudiantes
            </h4>
            <canvas id="bars1" style="display: block; width: 572px; height: 286px;" class="chartjs-render-monitor"
                width="572" height="286"></canvas>
            <div class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
                <!-- Chart legend -->
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#FF6D28;"></span>
                    <span>Total Estudiantes</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#6FEDD6;"></span>
                    <span>Estudiantes con Anteproyecto</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#FCE700;"></span>
                    <span>Anteproyectos Registrados</span>
                </div>
            </div>
        </div>
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                Residencias por Estudiantes
            </h4>
            <canvas id="bars2" style="display: block; width: 572px; height: 286px;" class="chartjs-render-monitor"
                width="572" height="286"></canvas>
            <div class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
                <!-- Chart legend -->
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#A149FA;"></span>
                    <span>Total Estudiantes</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#82CD47;"></span>
                    <span>Estudiantes con Residencia</span>
                </div>
                <div class="flex items-center">
                    <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:#2192FF;"></span>
                    <span>Residencias Registradas</span>
                </div>
            </div>
        </div>
    </div>

    <div class="grid gap-6 mb-8 md:grid-cols-1">
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                Proyectos registrados por mes
            </h4>
            <canvas id="prueba"></canvas>
        </div>
    </div>
    <!--Anteproyectos-->
    <span hidden="hidden" id="anteproyectosE">{{anteproyectosE}}</span>
    <span hidden="hidden" id="anteproyectosP">{{anteproyectosP}}</span>
    <span hidden="hidden" id="anteproyectosER">{{anteproyectosER}}</span>
    <span hidden="hidden" id="anteproyectosRE">{{anteproyectosRE}}</span>
    <span hidden="hidden" id="anteproyectosA">{{anteproyectosA}}</span>
    <span hidden="hidden" id="anteproyectosR">{{anteproyectosR}}</span>
    <!--Residencias-->
    <span hidden="hidden" id="residenciasI">{{residenciasI}}</span>
    <span hidden="hidden" id="residenciasEP">{{residenciasEP}}</span>
    <span hidden="hidden" id="residenciasP">{{residenciasP}}</span>
    <span hidden="hidden" id="residenciasF">{{residenciasF}}</span>

    <span hidden="hidden" id="dataPie1">{{dataPie1}}</span>

    <span hidden="hidden" id="anteproyectos_months">{{anteproyectos_months}}</span>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{% static 'js/download_charts.js' %}"></script>
<script src="{% static 'js/charts-bars.js' %}" defer></script>
<script src="{% static 'js/charts-lines.js' %}" defer></script>
<script src="{% static 'js/charts-pie.js' %}" defer></script>
<script src="{% static 'js/charts-pLine.js' %}" defer></script>
{% endblock %}