{% load static %}

<!--::::Pie de Pagina::::::-->
<footer class="pie-pagina">
    <div class="grupo-2">
        <div class="grid gap-6 mb-8 md:grid-cols-2">
            <div class="grid gap-6 mb-8 md:grid-cols-2">
                <label class="block text-sm">
                    <strong>Dirección</strong> <br>
                    <small>Avenida Ing. Víctor Bravo Ahuja No. 125 Esquina Calzada Tecnológico, C.P. 68030</small><br>
                    <Strong>Contacto</Strong> <br>
                    <small>Email: direccion@itoaxaca.edu.mx </small><br>
                    <small>Tel: (951) 501 50 16</small>
                </label>
                <label class="block text-sm">
                    <strong>Enlaces</strong> <br>
                    <a style="color:#fff"
                        >Portal de
                        Obligaciones de Transparencia</a><br>
                    <a style="color:#fff">INAI</a><br>
                </label>
            </div>
            <label class="block text-sm">
                <div class="col-12 col-md-6 foto_contenedor">
                    <p align="center">
                        
                    </p>
                </div>
            </label>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; Copyright 2023 <b>TecNM</b> - Todos los Derechos Reservados.</small>
        <br>
        <p class="mbr-text mbr-fonts-style display-7">
            <a href="" target="_blank">
                <span class="text-white"> Aviso de Privacidad </span>
            </a>
        </p>
    </div>
    
</footer>