{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/tailwind.output.css' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <script src="{% static 'js/init-alpine.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>  

  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <!--Iconos-->
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  
  {% block header %}

  {% endblock %}

</head>


<body>

  <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
    {% include 'Global/sidebar.html' %}
    <div class="flex flex-col flex-1 w-full">
      {% include 'Global/topbar.html' %}
      <main class="h-full overflow-y-auto">
        
          {% block content %}

          {% endblock %}
        
      </main>
    </div>

  </div>
  {% include 'Global/footer.html' %}
</body>
<!-- sweetalert2 -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>  

<script src="{% static 'js/sidebarAction.js' %}"></script>

{% block scripts %}

{% endblock %}
</html>