{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

{% if not dependencia.domicilio %}

<div class="container px-6 mx-auto grid ">
    <div class="section-content my-6 text-sm font-semibold text-gray-600 dark:text-gray-300">
        <ul>
            <li><a href="/">Inicio</a> / <a href="{% url 'anteproyecto' %}"> Ver Anteproyecto</a> / <a class="text-blue-500" href="{% url 'alta_domicilio_d' %}"> Alta domicilio Organización o Empresa </a>
            </li>
        </ul>
    </div>
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Organizacion o Empresa: {{dependencia.d_nombre}}
    </h2>
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Registro del domicilio de la Organizacion o Empresa
    </h2>    

    <div class="min-w-0 p-4 bg-bluemin rounded-lg shadow-xs dark:bg-gray-800">
        <div class="grid gap-6  md:grid-cols-2">
            <form action="" method="POST" enctype="multipart/form-data" id="uploadForm">
                {% csrf_token %}
                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">{{formDom.calle.label_tag}}</span>
                    {{ formDom.calle }}
                </label>
                <p id="messages" class="text-red-600">{{ formDom.cale.errors }}</p>


                <div class="grid gap-6  md:grid-cols-2">
                    {% for field in formDom %}
                    {% if field.id_for_label != 'id_calle' %}
                    <div>
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                            {{ field }}
                        </label>
                        <p id="messages" class="text-red-600">{{ field.errors }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <br>
                <div class="relative">
                    <input type="submit"
                        class="px-2 py-1 text-sm absolute right-0 font-medium leading-3 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        name="Update Information" value="Enviar Informacion">
                </div>
            </form>
            <div class=" ">
                <img aria-hidden="true" class="object-cover  mx-auto d-block " 
                    src="{% static 'images/map.png' %}" alt="Oficina">

            </div>
        </div>

    </div>
</div>

{% else %}

{% include 'Global/404.html' %}

{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/uploadManagement/dependencia.js' %}"></script>
{% endblock %}