{% extends 'Global/main.html'%}
{% load static %}

{% block content %}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Reportes Parciales
        </h2>
        {% if expediente.estatus == 'COMPLETO' %}
        <div class="mb-4 p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
            <p class="flex items-center text-sm text-gray-600 dark:text-gray-200">
                Ahora que has subido todos tus documentos, tu expediente se encuentra COMPLETO. Ahora solo falta que
                este sea
                revisado para verificar que todos los documentos estén correctos.
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path
                        d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z" />
                </svg>
            </p>
        </div>
        {% else %}
        <div class="block w-25 px-4 py-3 mb-4 bg-teal-100 rounded-lg shadow-md dark:bg-teal-500">
            <p class="text-sm text-teal-500 dark:text-teal-100">
                * Solo se aceptan documentos PDF.
            </p>
            <p class="text-sm text-teal-500 dark:text-teal-100">
                * Tamaño máximo del documento: 20MB.
            </p>
        </div>
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data" id="uploadForm">
            {% csrf_token %}
            <div class="grid gap-6 mb-8 md:grid-cols-2">
                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <h4 class="mb-4 text-xl font-semibold text-gray-600 dark:text-gray-300">
                        Reporte parcial 1
                    </h4>
                    {% if r1_fechaEntrega and not r1.r1_hojaRevisores and not r1.r1_formatoEvaluacion %}
                    <p class="text-red-600"> <strong>Fecha Entrega:</strong> {{r1_fechaEntrega}} </p>
                    {% endif %}
                    {% for field in form1 %}
                    <br>
                    <p class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-100">
                        {{field.label}}
                    </p>
                    {% if field.value and not field.errors %}
                    <a class="text-green-500" href="/media/{{field.value}}" target="_blank">
                        <img alt="Qries" src="{% static 'images/pdficon.png' %}" width=130" height="50"
                            class="mx-auto d-block">
                        {{field.label}} PDF
                    </a>
                    <br>
                    {% elif estatus == 'ACEPTADO' and residencia.periodoInicio %}
                    {{field}}
                    <p id="messages" class="text-red-600">{{ field.errors }}</p>
                    <div class="relative">
                        <br>
                        <input type="submit" value="Enviar"
                            class="px-2 py-1 text-sm absolute right-0 font-medium leading-3 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        <br>
                    </div>
                    {% else %}
                    <img src="{% static 'images/warning-sign.png' %}" width=120" height="40" class="mx-auto d-block">
                    <p class="text-red-600">No puede enviar este archivo aun</p>
                    <p class="text-teal-500">* Podra subirlo una vez su anteproyecto haya sido ACEPTADO</p>
                    <p class="text-teal-500">* Podra subirlo una vez haya especificado el periodo de inicio y fin de su
                        residencia</p>
                    {% endif %}
                    {% endfor %}
                </div>



                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <h4 class="mb-4 text-xl font-semibold text-gray-600 dark:text-gray-300">
                        Reporte parcial 2
                    </h4>
                    {% if r2_fechaEntrega and not r2.r2_hojaRevisores and not r2.r2_formatoEvaluacion %}
                    {% if r1.r1_hojaRevisores or r1.r1_formatoEvaluacion %}
                    <p class="text-red-600"> <strong>Fecha Entrega:</strong> {{r2_fechaEntrega}} </p>
                    {% endif %}
                    {% endif %}
                    {% for field in form2 %}
                    <br>
                    <p class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-100">
                        {{field.label}}
                    </p>
                    {% if field.value and not field.errors %}
                    <a class="text-green-500" href="/media/{{field.value}}" target="_blank">
                        <img alt="Qries" src="{% static 'images/pdficon.png' %}" width=130" height="50"
                            class="mx-auto d-block">
                        {{field.label}} PDF
                    </a>
                    <br>
                    {% elif not r1.r1_hojaRevisores or not r1.r1_formatoEvaluacion %}
                    <img src="{% static 'images/warning-sign.png' %}" width=120" height="40" class="mx-auto d-block">
                    <p class="text-red-600">No puede enviar este archivo aun</p>
                    <p class="text-teal-500">* Necesita subir el Reporte parcial 1</p>
                    {% else %}
                    {{field}}
                    <p id="messages" class="text-red-600">{{ field.errors }}</p>
                    <div class="relative">
                        <br>
                        <input type="submit" value="Enviar"
                            class="px-2 py-1 text-sm absolute right-0 font-medium leading-3 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        <br>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>



                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <h4 class="mb-4 text-xl font-semibold text-gray-600 dark:text-gray-300">
                        Reporte Final
                    </h4>
                    {% if rF_fechaEntrega and not rF.rf_formatoEvaluacion and not rF.rf_hojaRevisores %}
                    {% if r1.r1_hojaRevisores or r1.r1_formatoEvaluacion %}
                    <p class="text-red-600"> <strong>Fecha Entrega:</strong> {{rF_fechaEntrega}} </p>
                    {% endif %}
                    {% endif %}
                    {% if rF.calificacion %}
                    <p class="text-green-500"><strong>Calificacion:</strong> {{rF.calificacion}}</p>
                    {% endif %}
                    {% for field in formF %}
                    <br>
                    <p class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-100">
                        {{field.label}}
                    </p>
                    {% if field.value and not field.errors %}
                    <a class="text-green-500" href="/media/{{field.value}}" target="_blank">
                        <img alt="Qries" src="{% static 'images/pdficon.png' %}" width=130" height="50"
                            class="mx-auto d-block">
                        {{field.label}} PDF
                    </a>
                    <br>
                    {% elif not r2.r2_hojaRevisores or not r2.r2_formatoEvaluacion %}
                    <img src="{% static 'images/warning-sign.png' %}" width=120" height="40" class="mx-auto d-block">
                    <p class="text-red-600">No puede enviar este archivo aun</p>
                    <p class="text-teal-500">* Necesita subir el Reporte parcial 1 y 2</p>
                    {% else %}
                    {{field}}
                    <p id="messages" class="text-red-600">{{ field.errors }}</p>
                    <div class="relative">
                        <br>
                        <input type="submit" value="Enviar"
                            class="px-2 py-1 text-sm absolute right-0 font-medium leading-3 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        <br>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </form>
    </div>

</main>

{% endblock %}

{% block scripts %}
{% if anteproyecto.estatus == 'ACEPTADO' and not residencia.periodoInicio %}
<script src="{% static 'js/messages/student_files.js' %}"></script>
{% endif %}
<script src="{% static 'js/uploadManagement/files.js' %}"></script>
{% endblock %}