{% extends 'Global/main.html'%}
{% load static %}

{% block content %}
<main class="h-full pb-16 overflow-y-auto">
    <!-- Remove everything INSIDE this div to a really blank page -->
    <div class="container px-6 mx-auto grid ">

        {% if residencia %}
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Datos del proyecto de residencia
        </h2>
        <div class="grid gap-6 mb-8 md:grid-cols-1">
            <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in formR %}
                        {% if not field.id_for_label in data %}
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                            {{ field }}
                        </label>
                        <p id="messages" class="text-red-600">{{ field.errors }}</p>
                        {% endif %}
                        {% endfor %}

                        <br>
                    </form>
                </div>
            </div>
        </div>
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            Datos de los integrantes
        </h4>
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Estudiante</th>
                            <th class="px-4 py-3">Número de control</th>
                            <th class="px-4 py-3">E-mail</th>
                            <th class="px-4 py-3">Número teléfonico</th>

                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        {% for student in estudiantes %}
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img class="object-cover w-full h-full rounded-full"
                                            src="{{student.fotoUsuario.url}}" alt="" loading="lazy" />
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-semibold">{{student.nombre}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-md">{{student.numControl}}</td>
                            <td class="px-4 py-3 text-md">{{student.correoElectronico}}</td>
                            <td class="px-4 py-3 text-md">{{student.numCelular}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

            <br>
            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                Datos del Asesor Interno
            </h4>
            {% if asesorI %}
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Nombre</th>
                            <th class="px-4 py-3">Apellidos</th>
                            <th class="px-4 py-3">E-mail</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img class="object-cover w-full h-full rounded-full"
                                            src="{{asesorI.fotoUsuario.url}}" alt="" loading="lazy" />
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-semibold">{{asesorI.nombre}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-md">{{asesorI.apellidoP}} {{asesorI.apellidoM}}</td>
                            <td class="px-4 py-3 text-md">{{asesorI.correoElectronico}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <p
                    class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-teal-500 border border-transparent rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46" />
                    </svg>
                    Un Asesor le sera asignado pronto.
                </p>
            </div>
            {% endif %}

            <br>
            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                Datos del Revisor 
            </h4>
            {% if revisor %}
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Nombre</th>
                            <th class="px-4 py-3">Apellidos</th>
                            <th class="px-4 py-3">E-mail</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img class="object-cover w-full h-full rounded-full"
                                            src="{{revisor.fotoUsuario.url}}" alt="" loading="lazy" />
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-semibold">{{revisor.nombre}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-md">{{revisor.apellidoP}} {{revisor.apellidoM}}</td>
                            <td class="px-4 py-3 text-md">{{revisor.correoElectronico}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <p
                    class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-teal-500 border border-transparent rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46" />
                    </svg>
                    Un Revisor le sera asignado pronto.
                </p>
            </div>
            {% endif %}


            <br>
            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                Datos de la dependencia
            </h4>
            <div class="grid gap-6 mb-8 md:grid-cols-1">
                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in formD %}
                            {% if not field.id_for_label in data %}
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                                {{ field }}
                            </label>
                            <p id="messages" class="text-red-600">{{ field.errors }}</p>
                            {% endif %}
                            {% endfor %}

                            {% for field in formDom %}
                            {% if not field.id_for_label in data %}
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">{{field.label_tag}}</span>
                                {{ field }}
                            </label>
                            <p id="messages" class="text-red-600">{{ field.errors }}</p>
                            {% endif %}
                            {% endfor %}

                            <br>
                            <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
                                Titular de la dependencia
                            </h4>
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400"><label
                                        for="id_t_nombre">Nombre:</label></span>
                                <input type="text" name="t_nombre" value="{{dependencia.titular}}" maxlength="100"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    disabled="" required="" id="id_t_nombre">
                            </label>
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400"><label
                                        for="id_t_nombre">Puesto:</label></span>
                                <input type="text" name="t_nombre" value="{{dependencia.titular.t_puesto}}"
                                    maxlength="100"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    disabled="" required="" id="id_t_nombre">
                            </label>

                            <br>
                            <h4 class="mb-4 text-base font-semibold text-gray-600 dark:text-gray-300">
                                Asesor Externo
                            </h4>
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400"><label
                                        for="id_t_nombre">Nombre:</label></span>
                                <input type="text" name="t_nombre" value="{{anteproyecto.asesorExterno}}"
                                    maxlength="100"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    disabled="" required="" id="id_t_nombre">
                            </label>
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400"><label
                                        for="id_t_nombre">Puesto:</label></span>
                                <input type="text" name="t_nombre" value="{{anteproyecto.asesorExterno.puesto}}"
                                    maxlength="100"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    disabled="" required="" id="id_t_nombre">
                            </label>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}

        {% include 'Student/errorPage.html' %}

        {% endif %}
    </div>


</main>
{% endblock %}
